// scss 全局变量

html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


// 响应式布局
@mixin changeWidth($maxWidth: 1600px) {
  .container {
    max-width: $maxWidth;
  }
}

// 首次调用
@include changeWidth;

/* 小于1380px时 */
@media (max-width: 1380px) {
  .el-radio-group {
    justify-content: center !important;
  }
}
//横屏的对应样式
@media screen and (orientation: landscape) {
  .el-radio-group {
    justify-content: center !important;
  }
}
//竖屏的对应样式
@media screen and (orientation: portrait) {
  .el-radio-group {
    justify-content: center !important;
  }
}

/* 小于1280px时 */
@media (max-width: 1280px) {
  @include changeWidth($maxWidth: 1100px);
}

/* 小于992px时 */
@media (max-width: 992px) {
  @include changeWidth($maxWidth: 900px);
}

/* 小于720px时 */
@media (max-width: 720px) {
  @include changeWidth($maxWidth: 600px);
}
/* 小于540px时 */
@media (max-width: 540px) {
  @include changeWidth($maxWidth: 400px);
}
/* 小于375px时 */
@media (max-width: 375px) {
  @include changeWidth($maxWidth: 300px);
}
/* 小于320px时隐藏 */
@media (max-width: 320px) {
  .el-radio-group {
    display: none !important;
  }
}
